extends layout

block content
  h1= title
  p.lead Welcome, #{username}. Please fill out the form to generate a unique ID.
  form.form-generate(role='form', action="/account",method="post", style='max-width: 300px;')
    .form-group
        input.form-control(for='name', class='name', type='text', name="name", placeholder="Enter your friend's Name" required)
    .form-group
      input.form-control(for='email', class='email', type='email', name="email", placeholder="Enter your friend's Email" required)
      input(class='hidden' type="hidden", name="refererEmail", value='#{email}')
    button.btn.btn-primary.btn-generate(type='submit') Generate
    br
    br
    a(href="/logout") Logout
  #results
    h2 Referral Info
    div
      | Name:
      &nbsp;
      span#name
    div
      | Email:
      &nbsp;
      span#email
    div
      | ID:
      &nbsp;
      span#id
    button.btn.btn-success#again(type='') Again?
    br
    br
    a(href="/logout") Logout
