extends layout

block content
	h1= title
	p.lead Reward your friends. Reward yourself.
	form(METHOD="LINK", ACTION="/auth/google")
		input(type="submit", value="Login with Google", class='btn btn-lg btn-primary')
	
	
