extends layout

block content            
  h1 Ready to refer?
  p.lead Please fill out the form to generate a unique ID.
  a(href="/") Go home
  br
  a(href="/logout") Logout
  br
  br
  p You are currently logged in as #{user.username}
  br
  br
  form(role='form', action="/generate",method="post", style='max-width: 300px;')
    .form-group
        input.form-control(type='text', name="name", placeholder="Enter your friend's Name")
    .form-group
      input.form-control(type='email', name="email", placeholder="Enter your friend's Email")
    button.btn.btn-default(type='submit') Generate
    &nbsp;
    a(href='/')
      button.btn.btn-primary(type="button") Cancel
  br
  p.lead Refer Info
  name= name
  br
  email= email
