extends layout

block content            
  h1 Say something meaningful here.
  p.lead Say something worthwhile here.
  a(href="/refer") Add another?
  br
  a(href="/ping") Ping
  br
  br
  p.lead Refer Info
  name= name
  br
  email= email
